version: 2.1

orbs:
  slack: circleci/slack@3.2.0

jobs:
  test-branch:
    docker:
      - image: circleci/python:3.7.3
    working_directory: ~/repo
    steps:

      - checkout

      - restore_cache:
          key: dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: Install Dependencies
          command: |
            sudo pip install pipenv
            pipenv install '-e .'

      - run:
          name: Run Logic Tests (pytest)
          command: |
            mkdir test-reports
            pipenv run coverage run -m  --omit=/home/circleci/.local/* \
                                            pytest --junitxml=test-reports/junit.xml
            pipenv run coverage report
            pipenv run coverage html
            pipenv run coverage xml -o test-reports/cover.xml

      - run:
          name: Check Codestyle Guidelines (pycodestyle)
          command: |
            pipenv run pycodestyle --ignore=E902 --max-line-length=100 *.py

      - save_cache:
          key: dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "~/.local/share/virtualenvs/"

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports

      - slack/status:
        fail_only: true
        only_for_branches: master

      - slack/status:
        success_message: A new feature is ready for review.
        only_for_branches: ^(?!.*master).*$

workflows:
  version: 2.1
  test-deploy:
    jobs:
      - test-branch
